/* renderer/styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif; /* Windows-style font */
}

body {
    background-color: #e9ecef;
}

.card {
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-header {
    font-size: 1rem;
    font-weight: bold;
}

.list-group-item {
    cursor: pointer;
}
.list-group-item:hover {
    background-color: #f8f9fa;
}

#historyDetailBody {
    white-space: pre-wrap;
}